:root {
  --main-font-family: "Merriweather", serif;
}
h1,
h2,
h3,
h4,
p {
  text-align: center;
  font-family: var(--main-font-family);
}
ul {
  list-style: none;
  text-align: center;
}
li {
  display: inline;
  margin: 0 15px;
  padding: 5px;
}
img {
  max-height: 450px;
}
